body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    text-align: ceter;
    margin: 50px auto;
    max-width: 900px;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
    color: #004aad;
    margin-bottom: 5px;
}

.location {
    color: #555;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.nav-buttons button {
    margin: 5px;
    padding: 10px 18px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #0078d4;
    color: white;
    transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
    background-color: #005fa3;
}

.search-sort {
    margin-bottom: 20px;
}

.search-sort input,search-sort select, .search-sort button {
    padding: 8px 12px;
    margin: 5px;
    font-size: 14px;
}

.search-sort button {
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.search-sort button hover {
    background-color: #005fa3;
}

table-container {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0078d4;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
